<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IA project</title>
</head>
<body>
    <h1>BookWiseAI</h1>
    <form method="post" action="/">
        <label for="user_age">user_age:</label>
        <input type="text" name="user_age" id="user_age" value="{{ user_age }}">
        <label for="user_location">user_location:</label>
        <input type="text" name="user_location" id="user_location" value="{{ user_location }}">
        <label for="user_genre">user_genre:</label>
        <input type="text" name="user_genre" id="user_genre" value="{{ user_genre }}">
        <label for="user_author">user_author:</label>
        <input type="text" name="user_author" id="user_author" value="{{ user_author }}">
        <label for="user_book_title">user_book_title:</label>
        <input type="text" name="user_book_title" id="user_book_title" value="{{ user_book_title }}">
        

        <button type="submit">Search</button>
    </form>

</body>
</html>
